@import '../../styles/variables.scss';

.detailsContainer {
    display: grid;
    place-items: center;
    gap: $spacing-sm;
    margin: $spacing-lg;
    padding: $spacing-sm;
    color: $primary-text;
    letter-spacing: 1px;
    background: rgba(0,0,0,0.5);
    border-radius: $border-radius;

    img {
        width: 100%;
        max-width: 350px;
        border-radius: $border-radius;
    }

    @include for-size(desktop-and-up) {
        display: grid;
        grid-template-columns: 1fr 2fr;

        img {
            max-width: 400px;
        }
    }
}

.detailsText {
    padding: $spacing-sm;

    p, ul {
        margin-top: 1px;
        margin-bottom: $spacing-sm;
    }
}
