.spinner {
    width: 2rem;
    height: 2rem;
    margin: 2rem auto;
    border: 5px solid grey;
    border-top: 5px solid rgb(219, 205, 205);
    border-radius: 50%;
    animation: spin 0.5s linear infinite;

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}