@import '../../styles/variables.scss';

.heroImageContainer {
    height: 600px;
    z-index: 0;
    position: relative;
    animation: fadeIn $transition;

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

.heroImageContent {
    position: absolute;
    bottom: 50px;
    padding: $spacing-lg;
    color: $primary-text;
    text-shadow: $dark-shadow;
    filter: brightness(2);
    
    @include for-size(tablet-and-up) {
        padding: 0 5rem;
        
        h2 {
            font-size: $font-size-xl;
        }
        
        p {
            font-size: $font-size-sm;
        }
    }
}