@import '../../styles/variables.scss';

.gridItemImage {
    width: 100%;
    border-radius: $border-radius;
    transition: $fast-transition;
    cursor: pointer;
   
    &:hover {
        filter: brightness(0.3);
    }
}
