@import '../../styles/variables.scss';

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 5rem;
    padding: $spacing-md;
    color: $primary-text;
    z-index: 1;
}

.navBrand {
    display: grid;
    grid-template-columns: 75px 1fr;
    text-shadow: $dark-shadow;
    span {
        font-size: 1.6rem;
        color: $primary-button;
    }
}

.navLinks {
    display: none;

    ul {
        display: grid;
        grid-template-columns: repeat(4, minmax(130px, 1fr));
        justify-items: center;
        
        li {
            position: relative;
        }

        a {
            color: $primary-text;
            font-weight: 600;
            text-shadow: $dark-shadow;

            &::after {
                content: '';
                position: absolute;
                left: 50%;
                bottom: -8px;
                width: 0%;
                height: 2px;
                background: $primary-text;
                transition: $fast-transition;
            }

            &:hover::after {
                left: 0;
                width: 100%;
            }
        }
    }

    @include for-size('tablet-and-up') {
        display: inline-block;
    }
}

.navToggleMenu {
    justify-self: end;
    font-size: $font-size-md;
    position: relative;
    
    svg {
        cursor: pointer;
    }

    .navMenuContainer {
        position: absolute;
        top: 40px;
        right: 0;
        min-width: 250px;
        height: 0px;
        background: $menuContent-bg;
        border-radius: $border-radius;
        box-shadow: $light-shadow;
        transition: $transition;
        overflow: hidden;
        z-index: 2;

        .navMenuContent {
            font-size: $font-size-sm;
            padding: $spacing-lg;
            text-shadow: $dark-shadow;
            
            li {
                margin-bottom: $spacing-lg;
                transition: $fast-transition;

                &:hover {
                    padding-left: $spacing-sm;
                    box-shadow: -3px 0px $primary-text;
                }
            }
        }
    }

    @include for-size('tablet-and-up') {
        display: none;
    }
}