@import '../../styles/variables.scss';

.dashboardContainer {
    display: grid;
    grid-template-columns: 1fr;
    margin: $spacing-lg;
    padding: $spacing-lg;
    color: $primary-text;
    
    @include for-size(tablet-and-up) {
        grid-template-columns: 1fr 1fr;
    }
    
    .dashboardText {
        h1{
            text-transform: uppercase;
        }
        h1:nth-child(2) {
            color: $primary-button;
        }
        p {
            margin: $spacing-sm 0;
        }

       
        @include for-size(phone-and-up) {
            h1 {
                font-size: 4rem;
            }
            p {
                font-size: $font-size-sm;
            }
        }
    }

    .dashboardLogout {
        display: grid;
        place-items: center;

        button {
            padding: 0.5rem;
            font-size: 1rem;
            font-weight: 500;
            letter-spacing: 1px;
            color: black;
            background: $primary-button;
            border: transparent;
            border-radius: $border-radius;
            transition: $fast-transition;
            cursor: pointer;
        
            &:hover {
                color: $primary-text;
            }
        }

        @include for-size(tablet-and-up) {
            button {
                padding: $spacing-sm;
                font-size: $font-size-sm;
            }
        }
    }

    hr {
        margin: $spacing-lg 0;
    }
}
